@charset "UTF-8";
/**** Imports: modules y partials ****/
/**** Estiliza los iconos de ojos para visualizar contraseñas ****/
.fa-eye {
  display: inline;
}

.fa-eye-slash {
  display: none;
}

#signUpOverlay .fa-eye,
#signUpOverlay .fa-eye-slash {
  cursor: pointer;
  position: absolute;
  left: -1.8rem;
  top: 0.7rem;
  z-index: 5;
}
#signUpOverlay .fa-eye:hover,
#signUpOverlay .fa-eye-slash:hover {
  color: #5b0000;
}

#liPassWIcono {
  color: #ffffff;
  cursor: pointer;
}
#liPassWIcono:hover {
  color: #5b0000;
}

/**** Gestiona los errores y elementos relacionados en el formulario de subscripción ****/
.suHidden {
  display: none;
  margin: auto;
}
.suHidden i {
  color: #8e651b;
  font-size: 0.9em;
}
.suHidden b {
  color: #036123;
  margin-left: -0.6rem;
}

/**** Funciones: mixins y extends ****/
#avisoOverlay div p, #logInOverlay > div, #signUpOverlay div section #liEdad fieldset, #signUpOverlay div #pAside {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

/**** Resto del código: ****/
#signUpOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
#signUpOverlay div {
  /* Responsive design tablet + desktop */
  /* Responsive design mobile */
  /* Diseño común */
  margin: 0 auto;
  overflow-y: auto;
  background: #ddd;
  border: 5px solid #000;
  box-sizing: border-box;
}
@media screen and (min-width: 800px) {
  #signUpOverlay div {
    width: 60%;
    max-height: 70vh;
    margin-top: 5%;
    padding: 1% 5% 3% 5%;
    box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.9);
    position: relative;
  }
  #signUpOverlay div .fa-times {
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    color: #5b0000;
    cursor: pointer;
  }
  #signUpOverlay div .fa-times:hover {
    color: #212121;
  }
  #signUpOverlay div h2 {
    font-size: 4rem;
  }
  #signUpOverlay div section {
    padding: 2.2rem 2rem 0.6rem 1.6rem;
    margin-top: 1.8rem;
    margin-bottom: 0.6rem;
    position: relative;
  }
  #signUpOverlay div section h3 {
    margin: 0 auto;
    border: 3px solid #000;
    background: #212121;
    color: #ffffff;
    width: 40%;
    min-width: 280px;
    font-size: 2.2rem;
    text-align: center;
    padding: 0.2rem;
    position: absolute;
    top: -1.5rem;
    right: 0.8rem;
    cursor: none;
  }
  #signUpOverlay div section h3:hover {
    background: #5b0000;
  }
  #signUpOverlay div section .formWrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 2px;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(odd) {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(odd) > label {
    flex: 5;
    text-align: center;
    padding: 0.5em;
    padding-left: 0;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(odd) > input, #signUpOverlay div section .formWrapper > li:nth-child(odd) > select {
    flex: 9;
    text-align: left;
    padding: 0.5em;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(odd) > span {
    flex: 1;
    text-align: left;
    padding: 0.3em;
    position: relative;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(even) {
    margin-left: 33%;
    margin-bottom: 0.8rem;
    margin-top: -0.5rem;
    padding: 0;
    box-sizing: border-box;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(even) p {
    margin: 0;
    padding: 0;
    font-size: smaller;
  }
  #signUpOverlay div section .formWrapper #liEdad > fieldset {
    text-align: center;
  }
  #signUpOverlay div section .formWrapper #liEdad > fieldset input[type=radio]:first-of-type {
    margin-left: 2rem;
  }
}
@media screen and (max-width: 799px) {
  #signUpOverlay div {
    min-width: 88vw;
    max-width: 92vw;
    min-height: 40vh;
    max-height: 92vh;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.9);
  }
  #signUpOverlay div h2 {
    font-size: 2.2rem;
    padding-top: 0.8rem;
  }
  #signUpOverlay div .fa-times,
#signUpOverlay div #pAside {
    display: none;
  }
  #signUpOverlay div section {
    border: 3px solid #000;
    background: #ffffff;
    margin: 1.4rem;
    padding: 0.5rem;
  }
  #signUpOverlay div section h3 {
    margin: 0 auto;
    font-size: 1.6rem;
    text-align: left;
  }
  #signUpOverlay div section .formWrapper {
    list-style-type: none;
    padding: 0;
    border-radius: 2px;
  }
  #signUpOverlay div section .formWrapper > li {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(even) {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
  }
  #signUpOverlay div section .formWrapper > li:nth-child(even) p {
    margin: 0;
    margin-top: -0.5rem;
    padding: 0;
    font-size: smaller;
  }
}
#signUpOverlay div h2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #5b0000;
  text-decoration-color: #000;
}
#signUpOverlay div #pAside {
  font-size: 0.9em;
  width: 100%;
  text-align: right;
  color: #ddd;
}
#signUpOverlay div section {
  border: 3px solid #000;
  background: #ffffff;
}
#signUpOverlay div section input {
  border: 1px solid grey;
  border-radius: 3px;
}
#signUpOverlay div section .disabledText {
  color: #505050;
}
#signUpOverlay div section #liEdad {
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 1rem;
}
#signUpOverlay div section #liEdad fieldset {
  border: none;
  padding: 0;
}
#signUpOverlay div section #liEdad fieldset p {
  font-size: 1rem;
  padding: 0.5em;
}
#signUpOverlay div section #liEdad fieldset label {
  font-size: 0.9em;
  color: #212121;
  margin-right: 1rem;
}
#signUpOverlay div section #liEdad fieldset #suAgeError {
  margin: 0;
  padding: 0;
  font-size: smaller;
}
#signUpOverlay div input[type=button],
#signUpOverlay div input[type=reset],
#signUpOverlay div input[type=submit] {
  background-color: #5b0000;
  border: 3px solid #000;
  color: #ffffff;
  margin: 0 auto;
  display: inline;
  padding: 0.6rem;
  font-size: medium;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
}
#signUpOverlay div input[type=button]:hover,
#signUpOverlay div input[type=reset]:hover,
#signUpOverlay div input[type=submit]:hover {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}
#signUpOverlay div #suButtons {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.1rem;
  padding: 0;
  text-align: center;
  border: none;
  box-shadow: none;
}

#logInOverlay {
  display: none;
  padding-top: 0.2rem;
  background-color: #8e231b;
  z-index: 2;
  cursor: pointer;
  /* Responsive: */
  /* General: */
}
@media screen and (min-width: 800px) {
  #logInOverlay {
    position: absolute;
    min-width: 19%;
    top: 62px;
    right: 0px;
  }
}
@media screen and (max-width: 799px) {
  #logInOverlay {
    position: absolute;
    top: 1%;
    margin: 0 auto;
    width: 80vw;
  }
}
#logInOverlay > div {
  background: linear-gradient(to bottom, #8e231b, #000);
  color: #ffffff;
  box-shadow: 0px 19px 14px -1px rgba(0, 0, 0, 0.8);
  padding-left: 0.4rem;
  padding-right: 0.3rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
#logInOverlay > div input {
  width: 96%;
  margin-bottom: 0.2em;
}
#logInOverlay > div div:last-of-type {
  text-align: right;
  margin-right: 0.2rem;
}
#logInOverlay > div div:last-of-type input[type=button],
#logInOverlay > div div:last-of-type input[type=submit] {
  background-color: #5b0000;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  width: 30%;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.2rem;
  font-size: 0.9em;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
  text-align: center;
  display: inline;
}
#logInOverlay > div div:last-of-type input[type=button]:hover,
#logInOverlay > div div:last-of-type input[type=submit]:hover {
  background-color: #ddd;
  color: #212121;
  cursor: pointer;
}

#avisoOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
#avisoOverlay div {
  margin: 0 auto;
  width: 50%;
  margin-top: 10%;
  padding: 5%;
  background: #ddd;
  border: 5px solid #000;
  color: #5b0000;
  box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.9);
}
#avisoOverlay div p {
  margin-bottom: 0.4rem;
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=styles_forms.css.map */
