@charset "UTF-8";
/**** Imports: modules y partials ****/
/**** Estiliza los iconos de ojos para visualizar contraseñas ****/
.fa-eye {
  display: inline;
  cursor: pointer;
}
.fa-eye:hover {
  color: #5b0000;
}

.fa-eye-slash {
  display: none;
  cursor: pointer;
}
.fa-eye-slash:hover {
  color: #5b0000;
}

/**** Gestiona los errores y elementos relacionados en el formulario de subscripción ****/
.suHidden {
  display: none;
  margin: auto;
}
.suHidden i {
  color: #8e651b;
  font-size: 0.9em;
}
.suHidden b {
  color: #036123;
  margin-left: -0.6rem;
}

/**** Funciones: mixins y extends ****/
#logInOverlay > div, #signUpOverlay div section fieldset, #signUpOverlay div p {
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
}

/**** Resto del código: ****/
#signUpOverlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}
#signUpOverlay div {
  margin: 0 auto;
  width: 60%;
  max-height: 70vh;
  overflow-y: auto;
  margin-top: 5%;
  padding: 1% 5% 3% 5%;
  background: #5b0000;
  border: 5px solid #000;
  box-shadow: 10px 10px 8px 5px rgba(0, 0, 0, 0.9);
}
#signUpOverlay div h2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration-color: #ddd;
  font-size: 4rem;
}
#signUpOverlay div p {
  font-size: 0.9em;
  width: 100%;
  text-align: right;
  color: #ddd;
}
#signUpOverlay div section {
  border: 3px solid #000;
  background: #ffffff;
  padding: 2.2rem 2rem 0.6rem 2rem;
  margin-top: 2rem;
  margin-bottom: 0;
  position: relative;
}
#signUpOverlay div section h3 {
  margin: 0 auto;
  border: 3px solid #000;
  background: #ddd;
  width: 30%;
  min-width: auto;
  font-size: 2.2rem;
  text-align: center;
  padding: 0.2rem;
  position: absolute;
  top: -1.5rem;
  right: 0.8rem;
  cursor: none;
}
#signUpOverlay div section input {
  margin-bottom: 0.4rem;
  border: 1px solid grey;
}
#signUpOverlay div section .disabledText {
  color: #505050;
}
#signUpOverlay div section fieldset {
  margin: 0;
  margin-top: 0.4rem;
  border: none;
  padding: 0;
}
#signUpOverlay div section fieldset input[type=radio]:first-of-type {
  margin-left: 2rem;
}
#signUpOverlay div section fieldset label {
  font-size: 0.9em;
  color: #212121;
}
#signUpOverlay div input[type=button],
#signUpOverlay div input[type=reset],
#signUpOverlay div input[type=submit] {
  background-color: #ddd;
  border: 3px solid #000;
  color: #000;
  margin: 0 auto;
  display: inline;
  padding: 0.6rem;
  font-size: medium;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
}
#signUpOverlay div input[type=button]:hover,
#signUpOverlay div input[type=reset]:hover,
#signUpOverlay div input[type=submit]:hover {
  background-color: #212121;
  color: #ffffff;
  cursor: pointer;
}
#signUpOverlay div #suButtons {
  width: 100%;
  margin: 0 auto;
  margin-top: 1.1rem;
  padding: 0;
  text-align: center;
  border: none;
  box-shadow: none;
}

#logInOverlay {
  position: absolute;
  min-width: 19%;
  top: 62px;
  right: 0px;
  display: none;
  padding-top: 0.2rem;
  background-color: #8e231b;
  z-index: 2;
  cursor: pointer;
}
#logInOverlay > div {
  background: linear-gradient(to bottom, #8e231b, #000);
  color: #ffffff;
  box-shadow: 0px 19px 14px -1px rgba(0, 0, 0, 0.8);
  padding-left: 0.4rem;
  padding-right: 0.3rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
#logInOverlay > div input {
  width: 96%;
  margin-bottom: 0.2em;
}
#logInOverlay > div .fa-eye {
  color: #ffffff;
}
#logInOverlay > div div:last-of-type {
  text-align: right;
  margin-right: 0.2rem;
}
#logInOverlay > div div:last-of-type input[type=button],
#logInOverlay > div div:last-of-type input[type=submit] {
  background-color: #5b0000;
  border: 2px solid #ffffff;
  border-radius: 2px;
  color: #ffffff;
  width: 30%;
  margin: 0 auto;
  margin-top: 0.5rem;
  padding: 0.2rem;
  font-size: 0.9em;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 0.5rem -0.5rem var(--secondary-light);
  text-align: center;
  display: inline;
}
#logInOverlay > div div:last-of-type input[type=button]:hover,
#logInOverlay > div div:last-of-type input[type=submit]:hover {
  background-color: #ddd;
  color: #212121;
  cursor: pointer;
}

/*# sourceMappingURL=styles_forms.css.map */
