$color_main: #5b0000;
$color_mainlight: #8e231b;
$color_mainsheer: rgba(91, 0, 0, 0.5);

$color_surface: #ddd;
$color_surfacelight: #ffffff;

$color_secondary: #000;
$color_secondarylight: #212121;
$color_secondarylightextra: #505050;

$color_error: #8e651b;
$color_errorsheer: rgba(142, 101, 27, 0.5);